*{
  box-sizing: border-box;
}

header,footer{
  height: 75px;
  border: 2px solid black;
  clear: both;
}

section h1{
  height: 100px;
  width: 33.3333%;
  border: 2px solid black;
  float: left;
  
}

div{
  height: 200px;
  width: 50%;
  border: 2px solid black;
  float: left;
}
